<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Wallet" %></h1>
  <p>We will manage your money, without you being worried.</p>
</section>

<section class="row">
  <article class="column">
    <ul>
      <li>
          <a href='/expenses'>Expenses</a>
      </li>
    </ul>
  </article>
</section>
